<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project.xiirpl103132333.wakemeup">

    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="puemekaw.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />
        <meta-data
            android:name="AA_MODELS"
            android:value="id.sch.smktelkom_mlg.project.xiirpl103132333.wakemeup.model.dbAlarm,
                            id.sch.smktelkom_mlg.project.xiirpl103132333.wakemeup.model.dbSetting" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tambahActivity"></activity>
        <activity android:name=".HitungActivity"></activity>
        <activity android:name=".AlarmAlertMath"></activity>
        <activity
            android:name=".common.GameMethod"
            android:screenOrientation="userLandscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>

        <service
            android:name=".common.AlarmService"
            android:enabled="true"></service>

        <receiver
            android:name=".common.AlarmBroadcastReceiver"
            android:enabled="true"></receiver>
        <receiver
            android:name=".common.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="RestartSensor" />
            </intent-filter>
        </receiver>
    </application>

</manifest>